.big {
    font-size: 100%;
}

.bigger {
    font-size: 125%;
}

.navbar-brand > img {
    display: inline;
    margin-bottom: 4px;
}

table.dataTable td {
    font-size: 90%;
    font-family: Tahoma, serif;
    color: #000;
    vertical-align: baseline !important;
    padding: 2px 5px !important;
}

table.dataTable thead th {
    font-size: 90%;
    font-family: Tahoma, serif;
}

table.dataTable label.label {
    font-size: 105%;
    font-family: Tahoma, serif !important;
}

thead tr {
    color: #333;
    background-image: radial-gradient(#eee, #bbbbbb) !important;
}

#app-navbar-collapse > ul.nav.navbar-nav.navbar-right svg {
    margin-top: 10px;
    margin-right: 10px;
}